[Unit]
Description=Mari
Wants=network-online.target
After=network.target network-online.target

[Service]
EnvironmentFile=-/etc/default/mari
ExecStart=/home/pi/start-mari.sh
WorkingDirectory=/home/pi/code/mari
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
User=pi
Restart=always

[Install]
Wants=network.target
WantedBy=multi-user.target
